/* Fonts from Google */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Garamond:wght@300&family=EB+Garamond:wght@500&family=Quicksand:wght@500&family=Ubuntu:wght@500&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Montserrat:wght@300;400;600&display=swap');

/*
font-family: 'Iceland', cursive;
font-family: 'Montserrat', sans-serif;
*/

body {
  background-color: #6495ed;
}

header {
  background-color: #6495ed;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

header nav ul li {
  list-style: none;
  margin: auto;
  padding: 0 15px 0 0;
}

header nav ul li a {
  font-family: 'Quicksand', sans-serif;
  color: rgb(8, 21, 90);
  text-decoration: none;
  font-size: 18px;
}

main {
  margin-top: 60px;
}

header h1 {
  margin: auto;
  text-align: center;
  font-family: 'Coromorant Garamond', serif;
  color: rgb(8, 21, 90);
  font-size: 51px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: 'Cormorant Garamond', serif;
  color: rgb(8, 21, 90);
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  font-family: 'Cormorant Garamond', serif;
  color: rgb(8, 21, 90);
  font-size: 18px;
}

ul {
  font-family: 'Ubuntu', sans-serif;
}

ol {
  font-family: 'Ubuntu',sans-serif;
}

main p {
  font-family: 'Quicksand', sans-serif;
  margin-top: 0;
}

.group img {
  width: 100%;
  align-content: center;
}



fieldset{
  padding: 10px 12px;
	margin: 10px 0 20px 0;
  border-radius: 6px;
}

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: rgb(40, 59, 153);
  font-family: 'Ubuntu', sans-serif;
}

form input[type=text] {
  color: #000;
  font-size: 16px;
  margin-bottom: 5px;
  width: 100px;
  font-family: 'Quicksand', sans-serif;
}

form input[type=text]#their-email {
  width: 150px;
}

form textarea {
  height: 4.75rem;
  width: 100%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
}

form button {
  padding: 10px 15px;
  border-radius: 10px;
  border: 0;
  font-family: 'Ubuntu',sans-serif;
  font-size: 16px;
  background: #000;
  color: #fff;
  margin: 0 8px 10px 0;
}

footer {
  background-color: #6495ed;
}

/* Groups and Items (mobile first) */
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: darkgray;
  padding: 20px;
}

.item {
  flex: 1;
  margin: auto;
  padding: 30px;
}

.item-pic {
  flex: 1;
  padding: 60px;
}

@media all and (min-width: 800px) {
  

  .group {
    flex-direction: row;
  }

  .item {
    padding-right: 35px;
  }

  .item-pic {
    flex: 1;
    padding: 100px;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    background-color: #6495ed;
    margin-bottom: 40px;
  }

  header nav ul {
    margin-right: 18px;
  }

  header nav {
    margin: 0;
  }

  #home-pic {
    width: 60%;
  }
}
