@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Garamond:wght@300&family=EB+Garamond:wght@500&family=Quicksand:wght@500&family=Ubuntu:wght@500&family=Zilla+Slab&display=swap');

header {
  background-color: rgb(94, 143, 172);
  padding-top: 24px;
  padding-bottom: 6px;
  text-align: center;
}

footer {
  background-color: rgb(45, 139, 194);
  text-align: right;
  padding-top: 24px;
}

header h1 {
  font-family: 'Zilla Slab', serif;
  color:#000;
}

header h2 {
  font-family: 'Zilla Slab', serif;
  color: #000;
}

h1 {
  font-family: 'Zilla Slab', serif;
}

ul {
  font-family: 'Ubuntu', sans-serif;
}

ol {
  font-family: 'Ubuntu',sans-serif;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
}
p {
  font-family: 'Quicksand', sans-serif;
}
h3 {
  font-family: 'Cormorant Garamond', serif;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
}
.center3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.center4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
